<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign-up</h2>
  <hr />
  <!-- <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('username')?.errors &&
        registerForm.get('username')?.touched
      "
      type="text"
      class="form-control"
      placeholder="Username"
      formControlName="username"
      autocomplete="off"
    />
    <div class="invalid-feedback">Please enter a username</div>
  </div> -->
  <app-text-input [formControl]='$any(registerForm).controls["username"]' [label]='"Username"'></app-text-input>
  <app-text-input [formControl]='$any(registerForm).controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
  <app-text-input [formControl]='$any(registerForm).controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>

  <!-- <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('password')?.errors &&
        registerForm.get('password')?.touched
      "
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password"
      autocomplete="new-password"
    />
    <div
      *ngIf="registerForm.get('password')?.hasError('required')"
      class="invalid-feedback"
    >
      Please enter a password
    </div>
    <div
      *ngIf="registerForm.get('password')?.hasError('minlength')"
      class="invalid-feedback"
    >
      Password must be at least 4 characters
    </div>
    <div
      *ngIf="registerForm.get('password')?.hasError('maxlength')"
      class="invalid-feedback"
    >
      Password can only be 8 characters at most
    </div>
  </div>

  <div class="form-group">
    <input
      [class.is-invalid]="
        registerForm.get('confirmPassword')?.errors &&
        registerForm.get('confirmPassword')?.touched
      "
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      autocomplete="new-password"
    />
    <div
      *ngIf="registerForm.get('confirmPassword')?.hasError('required')"
      class="invalid-feedback"
    >
      Please enter a confirm password
    </div>

    <div
      *ngIf="registerForm.get('confirmPassword')?.hasError('isMatched')"
      class="invalid-feedback"
    >
      Password and Confirm Password do not match, lols do better
    </div>
  </div> -->

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-danger mr-2" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>

<p>Form Value: {{ registerForm.value | json }}</p>
<p>Form Status: {{ registerForm.status | json }}</p>
<p>Form Valid: {{ registerForm.valid | json }}</p>
