
<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0"><h5>No messages yet, say hi by using the message box below</h5></div>
    <ul *ngIf="messages.length > 0" class="chat">
      <li *ngFor="let message of messages">
        <div>
          <span class="chats-image float-right">
            <img src="{{ message.senderPhotoUrl || './assets/user.png' }}" class="rounded-circle" alt="{{ message.senderUsername | titlecase }}" />
          </span>

          <div class="chat-body">
            <small class="text-muted">
              <span class="fa fa-clock-o">{{ message.messageSent | timeago }}</span>
              <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username">
                <!-- (unread) -->
                <span class="ml-2 fa fa-eye-slash"></span>
              </span>
              <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username">
                (read {{message.dateRead | timeago}})
              </span>
            </small>
          </div>
        </div>

        <p>{{ message.content }}</p>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form #sendForm="ngForm" autocomplete="off" (ngSubmit)="onSendClick()">
      <div class="input-group">
        <input type="text" class="form-control input-sm" required="true" placeholder="Send a private message" name="content" [(ngModel)]="content" />
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" [disabled]="!sendForm.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
